@mixin thea-font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

body {
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#f2f2f2;
}