.thea-box {
    border: 1px solid $box-border-color;
    background-color: $box-background-color;
    padding: 12px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    
    h1 {
        margin-top: 8px;
    }
    
    .thea-title {
        margin-top: 8px;
    }
}
