.thea-flex {
    display: flex;
}

@mixin thea-flexbox($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
}

.thea-container {
    margin: auto;
    max-width:1170px;
}

.thea-row {
    @include thea-flexbox(row);
    margin:0;
}

.thea-row.highlight:hover {
    background-color:rgba(248,248,248,0.35);
}

.thea-row * {
    padding: 12px;
}

.thea-flex1 {
    flex: 1;
}

.thea-flex5 {
    flex: 5;
}

