/*
Split View
*/

.thea-splitview {
    @include thea-flexbox(row);
}

.thea-splitview-left {
    flex:1;
    flex-shrink: 2;
    max-width: 260px;
    margin-right: 20px;
}

.thea-splitview-right {
    flex:4;
    margin-right: 12px;
}

.thea-drawer {
    color:$drawer-light-textcolor;
    background-color: $drawer-light-color;
}

.thea-drawer.thea-dark {
    color:$drawer-dark-textcolor;
    background-color: $drawer-dark-color;
}
