@mixin thea-button-style($color) {
    background-color: $color;
    border: 1px solid darken($color, 10%);
}

.thea-button {
    padding: 12px;
    cursor: pointer;
    font-weight: 500;
    
    @include thea-button-style($button-regular-color);
    @include thea-font-size(0.9);
}

.thea-button:hover:enabled {
    background-color: darken($button-regular-color, 10%);
}

.thea-button:disabled {
    cursor: auto;
}

.thea-button:focus {
    outline: none;
}

.thea-button:active {
    @include thea-font-size(0.8);
    padding-left: 14px;
    padding-right: 14px;
}

.thea-button.button-round {
    border-radius: 8px;
}

.thea-button.button-large {
    padding: 20px;
    @include thea-font-size(1.2);
}

.thea-button.button-large:active {
    @include thea-font-size(1.1);
    padding-left: 24px;
    padding-right: 24px;
}

/*
Styles
*/

.thea-button.button-primary {
    color:white;
    @include thea-button-style($button-primary-color);
}

.thea-button.button-primary:hover:enabled {
    background-color: darken($button-primary-color, 10%);
}

.thea-button.button-success {
    color:white;
    @include thea-button-style($button-success-color);
}

.thea-button.button-success:hover:enabled {
    background-color: darken($button-success-color, 10%);
}

.thea-button.button-alert {
    color:white;
    @include thea-button-style($button-alert-color);
}

.thea-button.button-alert:hover:enabled {
    background-color: darken($button-alert-color, 10%);
}

.thea-button.button-warn {
    color:white;
    @include thea-button-style($button-warn-color);
}

.thea-button.button-warn:hover:enabled {
    background-color: darken($button-warn-color, 10%);
}

.thea-button.button-cool {
    color:white;
    @include thea-button-style($button-cool-color);
}

.thea-button.button-cool:hover:enabled {
    background-color: darken($button-cool-color, 10%);
}

.thea-button.button-dark {
    color:white;
    @include thea-button-style($button-dark-color);
}

.thea-button.button-dark:hover:enabled {
    background-color: darken($button-dark-color, 10%);
}