
// Action Bar
$actionbar-light-color: #e0e0e0;
$actionbar-light-textcolor: #1b1b21;

$actionbar-dark-color: #1b1b21;
$actionbar-dark-textcolor: #f2f2f2;

// Boxes
$box-border-color: #d1d1d1;
$box-background-color: #efefef;

// Buttons
$button-regular-color: #f4f4f4;
$button-primary-color: #0848d4;
$button-success-color: #1ca502;
$button-warn-color: #cb7e00;
$button-alert-color: #b43801;
$button-cool-color: #4db4f8;
$button-dark-color: #1b1b21;

// Drawers

$drawer-light-textcolor: #212127;
$drawer-light-color: #ebebeb;
$drawer-dark-textcolor: #f2f2f2;
$drawer-dark-color: #212127;