.thea-actionbar {
    width:100%;
    background-color: $actionbar-light-color;
    color: $actionbar-light-textcolor;
    height: 60px;

    @include thea-flexbox(row);

    .thea-title {
        flex:1;
        font-weight: 500;
        
        @include thea-font-size(1.2);
    }
    
    .thea-actionbaritem {
        cursor: pointer;
        outline: none;
        height:100%;
        justify-content: center;
        @include thea-flexbox(column);
        @include thea-font-size(1.0);
    }
    
    .thea-actionbaritem:hover {
        background-color: darken($actionbar-light-color, 10%);
    }

    .thea-selected {
        background-color: darken($actionbar-light-color, 10%);
    }
    
}

.thea-actionbar.thea-pin {
    position: fixed;
    left: 0;
    top: 0;
}

.thea-actionbar * {
    align-self: center;
    padding-left: 12px;
    padding-right: 12px;
}

.thea-actionbar :first-child {
    padding-left: 12px;
}

.thea-actionbar :last-child {
    margin-right: 24px;
}

.thea-actionbar.thea-dark {
    background-color: $actionbar-dark-color;
    color: $actionbar-dark-textcolor;

    .thea-actionbaritem:hover {
        background-color: lighten($actionbar-dark-color, 10%);
    }
    .thea-selected {
        background-color: lighten($actionbar-dark-color, 10%);
    }
}
